/* .demo-container {
    position: relative;
    margin-inline: calc(1rem * -1);
    border: 2px solid hsl(211deg 90% 40%);
    border-radius: 1em;
    background-color: hsl(210, 12%, 91%);
}

.btn--about {
    padding: 0.4em 1em;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.grid-collapse__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.grid-collapse__inner {
    overflow: hidden;
}

.grid-collapse__wrapper.is-open {
    grid-template-rows: 1fr;
} */