code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nft {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #161418;
  color: black;
  user-select: none;
  max-width: 80%;
  margin: 1rem auto;
  margin-bottom: 5rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #d3d3fc 0%, #dae7f9 74%);
  box-shadow: 0 7px 20px 5px #000 88;
  border-radius: 0.7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: 0.5s all;
}
.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  padding: 3% 15%;
}
.description {
  margin: 0.5rem 0;
  color: #5252f4;
}
.flex-marks {
  display: flex;
  justify-content: space-evenly;
  min-width: 300px;
}
.SGPA,
.tokenInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  min-width: 100px;
}

.SGPA p {
  padding: 2px;
  margin: 2.5px;
}

.nft ::before {
  position: fixed;
  box-shadow: 0 0 100px 40px white;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}
.nft:hover {
  box-shadow: 0 7px 50px 10px #5252f4;
  transform: scale(1.015);
  filter: brightness(1.3);
}
.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table td:nth-child(2) {
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  border: 1.2px solid #696969;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.7em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    font-size: 0.75em;
  }

  table tr {
    border-bottom: 3px solid #000;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #000;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
h1 {
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}
.pg {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
